*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

:root{
    --brown: #1c3558;
    --play-box:#131c3c;
}

body{
    background: rgb(129, 184, 208);
}
.container{
    padding: 40px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1{
    text-transform: uppercase;
    color: rgb(75, 13, 198);
}

button{
    background-color: var(--brown);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.box{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brown);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    cursor: pointer;
}

.box:nth-child(3n){
    border-right: none;
}

.box:nth-child(6) ~ .box{
    border-bottom: none;
}

